.hero {
    width: 99%;
    height: 691px;
    gap: 0px;
    border-radius: 41.44px 41.44px 41.44px 41.44px;
    opacity: 1;
    position: relative;
}

.parents {
    padding: 10px;
}

.bg-image {
    background-image: url('/assets/hero.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.bubbles {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    background-image: url('/assets/bubble image.png');
}
/* 
.bubble {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.bubble:nth-child(1) { right: 20%; top: 10%; width: 80px; height: 80px; }
.bubble:nth-child(2) { right: 10%; top: 30%; width: 60px; height: 60px; }
.bubble:nth-child(3) { right: 25%; top: 30%; width: 70px; height: 70px; }
.bubble:nth-child(4) { right: 10%; top: 40%; width: 90px; height: 90px; }
.bubble:nth-child(5) { right: 35%; top: 50%; width: 75px; height: 75px; }
.bubble:nth-child(6) { right: 50%; top: 60%; width: 85px; height: 85px; }
.bubble:nth-child(7) { right: 45%; top: 70%; width: 65px; height: 65px; }
.bubble:nth-child(8) { right: 30%; top: 80%; width: 95px; height: 95px; }
.bubble:nth-child(9) { right: 20%; top: 85%; width: 55px; height: 55px; }
.bubble:nth-child(10) { right: 5%; top: 90%; width: 75px; height: 75px; }

@media (max-width: 768px) {
    .bubbles {
        width: 100%;
    }
} */

/* .bright-text {
    text-shadow: white;
    color: aliceblue;
}

.bright-image {
    filter: brightness(110%);
} */

.glow-button {
    box-shadow: 0 0 15px rgba(56, 178, 172, 0.5);
    transition: all 0.3s ease;
}

.glow-button:hover {
    box-shadow: 0 0 20px rgba(56, 178, 172, 0.8);
}